<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Bob The Build Tasks</title>
    <meta name="description" content="Bob The Build Tasks">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables-1.10.12.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.dataTables-1.10.12.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        .table tbody tr:hover td, .table tbody tr:hover th {
            background-color: #eeeeea;
            cursor: pointer;
        }

    </style>
</head>

<script>
$(document).ready(function() {
    var table = $('#tasks').DataTable( {

        serverSide: true,
        processing: true,
        ajax: '/datatable/tasks',
        order: [[ 0, "desc" ]],
        "columnDefs": [
            {
                targets: 4,
                "render": function ( data, type, row ) {

                    var cssClass = 'status status-problem'
                    if (data == 'pending')
                        cssClass = 'status status-pending'
                    else if (data == 'building')
                        cssClass = 'status status-building'
                    else if (data == 'successful')
                        cssClass = 'status status-success'

                    return '<div class="'+ cssClass + '">' + data + '</div>';
                },
            },
            {
                "targets": 6,
                "render": function ( data, type, row ) {

                    var newPage = '/actions/task/' + encodeURIComponent(row[0]) + '/';
                    var action = 'cancel';
                    var status = row[4];
                    var cssClass = 'btn btn-danger';

                    if (status == 'failed' || status == 'cancelled' || status == 'successful') {
                        action = 'rebuild'
                        cssClass = 'btn btn-primary';
                    }

                    return '<a href="' + newPage + action + '" class="' + cssClass + '">' + action + '</a>';
                }
            }
        ]
    } );

    $('#tasks tbody').on( 'click', 'td', function () {
        var column = table.cell( this ).index().column;
        if (column < 6) {
            var taskId = table.row( this ).data()[0];
            window.location.href = '/view/tasks/' + encodeURIComponent(taskId);

        }
    } );

    setInterval( function () {
        table.ajax.reload( null, false ); // user paging is not reset on reload
    }, 30000 );
} );
</script>

<body>
    <div class="main-div">
        <table id="tasks" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>
