.state {
    display: inline-block;
    max-width: 100%;
    padding: 3%;
    border-radius: 10%;
    color: white;
    *border: 1px solid;
}
.state {
    background-color: #777;
}
.state-success {
    background-color: #5cb85c;
}
.state-pending {
    background-color: #5bc0de;
}
.state-building {
    background-color: #f0ad4e;
}
.state-problem {
    background-color: #d9534f;
}
.main-div {
    vertical-align: top;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.panel {
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}
.panel-heading {
    margin-bottom: 5px;
}